TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=https://emo-robot-tiktok.vercel.app/callback
TIKTOK_ACCESS_TOKEN=
TIKTOK_REFRESH_TOKEN=
DEEPGRAM_API_KEY=
ANTHROPIC_API_KEY=
EMO_SOURCE=https://www.tiktok.com/@livingai
POST_TO_DRAFT=true
